/*IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
/*VARIABLES*/
/*Theme*/
/*Menu Fonts*/
/*Menu Lists & Maps*/
/*Breakpoints Responsive*/
/*MIXIN*/
/*KEYFRAME*/
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7);
  }
}
/*GENERAL*/
* {
  margin: 0;
}

body,
.header,
.container,
.menu,
.menu_home,
.menu_home--zoom,
.menu1__footer,
.nav {
  display: flex;
  flex-wrap: wrap;
}

body {
  justify-content: center;
}

/*HEADER*/
.header {
  width: 100%;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Roboto", "sans-serif";
  justify-content: center;
  padding: 1.5em 0;
}
.header__logo {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -0.08em;
  cursor: pointer;
}

/*MAIN*/
.container {
  justify-content: center;
  width: 500px;
}
.container__heading {
  width: 100%;
  text-align: center;
  margin: 1em 0 0.2em 0;
  font-family: "Roboto", "sans-serif";
  font-size: 2.2em;
}
@media screen and (min-width: 768px) {
  .container {
    justify-content: space-around;
    width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    justify-content: space-around;
    width: 992px;
    padding: 0 5em;
  }
}

/*Homepage Layout*/
.menu_home {
  width: 90%;
  height: 22em;
  padding: 2em 0;
  margin: 2em 0 0 0;
  box-shadow: 0 0 10px 3px #D8D8D8;
  cursor: pointer;
  justify-content: center;
}
.menu_home--zoom {
  justify-content: center;
  align-items: center;
  align-content: center;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.menu_home--zoom:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
.menu_home__heading {
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 0.2em;
}
.menu_home__word {
  font-size: 2.2em;
}
@media screen and (max-width: 450px) {
  .menu_home__word {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 768px) {
  .menu_home {
    width: 45%;
    height: 25em;
  }
}
@media screen and (min-width: 992px) {
  .menu_home {
    width: 40%;
    height: 30em;
    margin: 4em 0 0 0;
  }
}

.btn_soon {
  width: 10em;
  height: 2em;
  font-family: "Roboto", "sans-serif";
  font-size: 2em;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 0.3em;
  margin: 1em 0 4.5em 0;
  border-style: none;
}
.btn_soon span {
  width: 5px;
  height: 5px;
  margin: 0 3px;
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
  animation: dots 2s infinite ease-in-out;
}
.btn_soon span:nth-child(2) {
  animation-delay: 0.4s;
}
.btn_soon span:nth-child(3) {
  animation-delay: 0.8s;
}
@media screen and (min-width: 768px) {
  .btn_soon {
    margin: 1.5em 0 3.5em 0;
  }
}

/*Menu Pages Layout*/
.menu {
  width: 80%;
  height: auto;
  margin: 1em 0 8em 0;
  padding: 2em;
  box-shadow: 0 0 10px 3px #D8D8D8;
  justify-content: center;
}
.menu__heading {
  width: 100%;
  font-size: 2.8em;
  text-align: center;
  margin: 1em 0;
}
.menu__path {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.6em;
}
.menu__path__img {
  width: 15%;
}
@media screen and (min-width: 768px) {
  .menu__path__img {
    width: 30%;
  }
}
.menu__service {
  font-size: 1.2em;
  text-align: center;
}
.menu__service__price {
  font-weight: bold;
}
.menu__service--underline {
  position: relative;
}
.menu__service--underline:before, .menu__service--underline:after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  left: 0;
  opacity: 0;
  background-color: #fdcb46;
}
.menu__service:hover {
  cursor: pointer;
}
.menu__service:hover .menu__service--underline:before, .menu__service:hover .menu__service--underline:after {
  width: 100%;
  opacity: 1;
}
.menu section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu ul, .menu li {
  display: flex;
  flex-wrap: wrap;
}
.menu ul {
  font-size: 0.9em;
  padding: 0.6em 0 3em 0;
  list-style: none;
}
.menu li {
  width: 100%;
  padding-bottom: 0.5em;
  display: block;
  text-align: center;
}
.menu p {
  margin-bottom: 0.4em;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 80%;
    padding: 0 4em 5em 4em;
  }
  .menu__service {
    font-size: 1.4em;
  }
  .menu .menu__heading {
    font-size: 4.4em;
  }
  .menu ul {
    width: 92%;
  }
  .menu li {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    width: 80%;
  }
  .menu .menu__heading {
    font-size: 4.8em;
  }
  .menu ul {
    width: 84%;
  }
}

/*Menu Details*/
.menu1 {
  background-color: #fcdfdb;
  color: #3c1218;
}
.menu1 h2 {
  font-family: "Devonshire", cursive;
  font-weight: lighter;
}
.menu1 h3, .menu1 p {
  font-family: "Segoe Print", "Comic Sans MS", cursive;
}
.menu1 .fas {
  background: linear-gradient(90deg, #f05160, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu1 .menu_home__heading {
  font-size: 2.3em;
}
.menu1 .menu_home__word {
  text-transform: uppercase;
  font-family: "Segoe Print", "Comic Sans MS", cursive;
  color: #3c1218;
}
.menu1 .menu__heading {
  margin: 0 0 0.5em 0;
  font-size: 2.8em;
}
.menu1 .menu__service--underline:before, .menu1 .menu__service--underline:after {
  background-color: #3c1218;
}
.menu1__footer {
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Devonshire", cursive;
  font-weight: lighter;
  font-size: 2em;
}
.menu1__footer .fas {
  margin-right: 0.2em;
  font-size: 1.3em;
}
@media screen and (min-width: 768px) {
  .menu1__footer {
    font-size: 2.5em;
  }
  .menu1__footer .fas {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 450px) {
  .menu1 .menu_home__heading {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  .menu1 #fas__top {
    font-size: 5em;
    margin-top: 0.5em;
  }
  .menu1 .menu__heading {
    font-size: 3.5em;
  }
  .menu1 ul {
    width: 100%;
  }
}

.menu2 {
  background-color: #fff5fe;
}
.menu2 h2 {
  font-family: "Croissant One", cursive;
  font-weight: lighter;
  background: linear-gradient(45deg, #c77412, #6e4ccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu2 h3, .menu2 p {
  font-family: "Cambria", "Garamond", serif;
}
.menu2 .menu_home__heading {
  font-size: 1.5em;
}
.menu2 .menu_home__word {
  font-weight: bold;
  font-family: "Cambria", "Garamond", serif;
  color: #c77412;
}
.menu2 .menu__heading {
  font-size: 1.8em;
}
.menu2 .menu__service--underline:before, .menu2 .menu__service--underline:after {
  background-color: #a56799;
}
.menu2__entree {
  color: #c67412;
}
.menu2__dish {
  color: #a56799;
}
.menu2__dessert {
  color: #6e4ccc;
}
@media screen and (max-width: 450px) {
  .menu2 .menu_home__heading {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .menu2 .menu__heading {
    font-size: 2.3em;
    margin: 2.2em 0;
  }
  .menu2 ul {
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) {
  .menu2 .menu__heading {
    font-size: 2.5em;
  }
}

.menu3 {
  background-color: #f9f9f9;
}
.menu3 h2 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(45deg, #0431df, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu3 h3, .menu3 p {
  font-family: "Segoe Print", "Comic Sans MS", cursive;
}
.menu3 .menu_home__word {
  font-family: "Segoe Print", "Comic Sans MS", cursive;
  color: #0887fb;
}
@media screen and (max-width: 450px) {
  .menu3 .menu_home__heading {
    font-size: 1.9em;
  }
}

.menu4 {
  background-color: #fdfffd;
}
.menu4 h2 {
  font-family: "Kaushan Script", "Arial", "sans-serif";
  font-weight: lighter;
  background: linear-gradient(100deg, #4c9f42, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu4 h3, .menu4 p {
  font-family: "Segoe Print", "Comic Sans MS", cursive;
}
.menu4 .menu_home__word {
  font-family: "Segoe Print", "Comic Sans MS", cursive;
  color: #4c9f42;
}
@media screen and (max-width: 450px) {
  .menu4 .menu_home__heading {
    font-size: 1.9em;
  }
}

/*FOOTER*/
.footer {
  width: 100%;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Roboto", "sans-serif";
  padding: 1em 0;
  position: fixed;
  bottom: 0;
}
.footer .nav {
  font-size: 1.5em;
  width: 100%;
}
.footer .nav__link {
  width: 100%;
  margin: 0.2em;
  text-align: center;
  text-decoration: none;
  color: #fdcb46;
}
.footer .nav__link:hover {
  animation: wiggle 1.5s infinite;
}
@media screen and (min-width: 768px) {
  .footer .nav {
    justify-content: space-between;
  }
  .footer .nav__link {
    width: 24%;
  }
}

/*# sourceMappingURL=style.css.map */
