/*GENERAL*/

/*VARIABLES*/

$theme-color1:#579c87;
$theme-color2:#fdcb46;
$theme-font:'roboto';

*{
    margin: 0;
}

body,header,main,section,.btn,footer{
    display: flex;
    flex-wrap: wrap;
}

body{
    justify-content: center;
}

header,footer{
    background-color: $theme-color1;
    width: 100%;
    a:link, a:visited{
        text-decoration: none;
        color: $theme-color2;
    }
}

main{
    justify-content: center;
    width: 500px;
    @media screen and (min-width:768px){
        justify-content: space-around;
        width: 768px; 
    }
    @media screen and (min-width:992px){
        justify-content: space-around;
        width: 992px; 
    }
    
}

.btn{
    width: 10em;
    height: 2em;
    justify-content: center;
    align-items: center;
    font-family: $theme-font, sans-serif;
    font-size: 2em;
    background-color: $theme-color1;
    color: $theme-color2;
    border-radius: 0.3em;
    margin: 1.5em 0;
}

ul{
    list-style: none;
}

/*HEADER*/

header{
    justify-content: center;
    padding: 2em 0;
    a{
        font-family: $theme-font, sans-serif;
        font-size: 5em;
        font-weight: 500;
        letter-spacing: -0.1em;
    }
}

/*MAIN*/

section{
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 1em 0;
    background-color: grey;
    a:link, a:visited{
        text-decoration: none;
        color: black;
    } 
}

.menu-home{
    width: 80%;
    height: 35em;
    text-align: center;
    @media screen and (min-width:768px){
        width: 38%;
        height: 28em;
    }
    @media screen and (min-width:992px){
        width: 38%;
        height: 35em;
    }
}

/*FOOTER*/

footer{
    justify-content:space-between;
    padding: 2em 0;
    a{
        font-family: $theme-font, sans-serif;
        font-size: 1.5em;
        margin: 0 1em;
    }
}