$theme_font: 'Roboto','sans-serif';
$theme_color:#579c87;
$theme_font_color:#fdcb46;

$menu1_title_font: 'Devonshire', cursive;
$menu2_title_font: 'Croissant One', cursive;
$menu3_title_font: 'Dancing Script', cursive;
$menu4_title_font: 'Kaushan Script', 'Arial', 'sans-serif';

$menu_text_font1: 'Segoe Print','Comic Sans MS', cursive;
$menu_text_font2: 'Cambria','Garamond', serif;


$menus:(
    menu1:(
        title-font: $menu1_title_font,
        text-font: $menu_text_font1,
        bg-color:#fcdfdb,
        primary-font-color:#3c1218,
        icon-color1:#f05160,
        icon-color2:#f6916a,
    ),
    menu2:(
        title-font: $menu2_title_font,
        text-font: $menu_text_font2,
        bg-color:#fff5fe,
        primary-font-color:#c77412,
        entree-color:#c67412,
        dish-color:#a56799,
        dessert-color:#6e4ccc,
    
    ),
    menu3:(
        title-font: $menu3_title_font,
        text-font: $menu_text_font1,
        bg-color:#f9f9f9,
        primary-font-color:#0431df,
        secondary-font-color:#0887fb,
    ),
    menu4:(
        title-font: $menu4_title_font,
        text-font: $menu_text_font1,
        bg-color:#fdfffd,
        primary-font-color:#4c9f42,
        secondary-font-color:#beff7f,
    ),
);


$breakpoints: (
    small-mobile: 450px,
    tablet: 768px,
    desktop: 992px,
);
